body{
    background-color: lightcyan;
}
header{
    margin-top: 15%;
}

header h1{
    border: solid;
}
/*ask instructors also ask about the float left, right discrepancy */
aside{
    width: 25%;
    height: 50%;
    float: right;
    border: solid;
    margin-right: 37%;
    margin-bottom: 50%;
}

aside nav{
    float: center;
    padding-bottom: 6%;
}